@import 'common';

.video-search-results {
  padding: 60px 0;

  .video-search-result {
    align-items: center;
    display: flex;
    margin: 50px 0;

    *{
      margin: 0 7px 0 0;
    }

    h5 {
      color: #959fff;
    }

    p {
      font-size: 0.7em;
      color: rgba(68, 255, 68, 0.5)// #44FF44
    }

    .text {
      flex: 1 1 auto;
    }

    button {
      background-color: $main-bgcolor;
      border: 1px solid $main-color;
      border-radius: 10px;
      color: $main-color;
      flex: 0 0 auto;
      padding: 7px;

      &:focus {
        outline: none;
      }

      &.clicked {
        background-color: $main-color;
        color: $main-bgcolor;
      }
    }

    img {
      flex: 0 0 auto;
    }
  }
}
